.image-area-section {
	width: 100%;
	overflow: hidden;
	
	&.overlay:after {
		height: 75%;
		top: auto;
		bottom: 0;
	}
	
	&.static-height {
		height: 45vh;
		
		@include media-breakpoint-up(sm) {
			min-height: 440px;
		}
	}
	
	.image-item, .slide-item {
		min-height: 60vh;
		
		@include media-breakpoint-up(sm) {
			min-height: 55vh;
		}
		
		@include media-breakpoint-up(lg) {
			min-height: 60vh;
		}
	}
	
	&.is-home {
		.image-item, .slide-item {
			height: 60vh;
			
			@include media-breakpoint-up(sm) {
				height: 65vh;
			}
			
			@include media-breakpoint-up(md) {
				height: 85vh;
			}
		}
	}
	
	.image-item-inner {
		position: relative;
		z-index: $zindex-image-item;
		width: 100%;
	}
	
	
	&.image-area-section-products {
		.product-thumbnail {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			height: 100%;
			width: auto;
		}
		
		ul {
			@include media-breakpoint-down(sm) {
				margin-left: 0;
				padding-left: 0;
				list-style: none;
				
				> li {
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}
}
