.widget-section {
	.section-inner {
		position: relative;
		z-index: $zindex-widget;
	}
	
	.widget-line {
		border: $border-width solid $border-color;
		padding: 1.5rem;
	}
}

.widgets .widget-col {
	&:last-of-type {
		margin-bottom: 0;
	}
	
	.widget > div + div {
		margin-top: 1rem;
	}
	
	.streched-widget {
		> div {
			flex: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
	
	&.streched {
		> .widget {
			height: 100%;
		}
		
		.card-widget, .card-widget > .card {
			height: 100%;
		}
		
		.card-widget > .card {
			display: flex;
			flex-direction: column;
		}
	}
}

.widget-slider-wrap {
	position: relative;
	
	.widget-slider {
		position: relative;
		width: 100%;
	}
	
	.slick-slide {
		//opacity: 0.2;
		//transition: $base-transition;
		//
		//&.slick-active {
		//	opacity: 1;
		//	transition: $base-transition;
		//}
		padding: 0 !important;
		//margin: 0 15px;
	}
	
	.slick-dots {
		bottom: -10px;
	}
	
	.slick-list {
		margin-bottom: 30px;
		//margin: 30px -15px;
	}
	
	.widget-slide-item {
		display: flex !important;
		
		@include media-breakpoint-up(md) {
			padding: 0 1.25rem;
		}
	}
}

.card-widget {
	min-height: 250px;
	
	@include media-breakpoint-up(md) {
		min-height: 150px;
	}
	
	.has-link {
		transition: $transition-base;
		
		&:hover {
			transition: $transition-base;
			box-shadow: $box-shadow;
		}
	}
	
	.overlay {
		.textbox {
			z-index: $zindex-widget-overlay;
		}
	}
}

.image-widget {
	.wrap {
		position: relative;
	}
	figure {
		width: 100%;
		margin-bottom: 0;
	}
}

.dots-widget {
	position: relative;
	
	.dot-items {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	.highlight-spot {
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		-webkit-appearance: none;
		border-radius: 50%;
		background-color: $primary;
		border: 0;
	}
	
	.highlight-spot:hover {
		cursor: pointer;
	}
	
	.highlight-spot:after {
		position: absolute;
		top: -10px;
		left: -10px;
		width: 40px;
		height: 40px;
		content: '';
		-webkit-animation: pulsate 1s ease-out;
		-webkit-animation-iteration-count: infinite;
		opacity: .0;
		border: 3px solid $primary;
		-webkit-border-radius: 30px;
	}
	
	.highlight {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		width: 280px;
		opacity: 0;
		display: block;
		visibility: hidden;
		text-align: left;
		background: #fff;
		color: $body-color;
		padding: 1rem;
		box-shadow: $box-shadow-sm;
		transition: all 0.2s ease-out;
		transform: translate(30px, calc(-50% - -10px));
		transform-origin: top left;
		
		&:hover {
			visibility: visible;
			opacity: 1;
		}
		
		&:before {
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			border-right: 8px solid #fff;
			border-top: 8px solid transparent;
			border-bottom: 8px solid transparent;
			top: 50%;
			margin-top: -8px;
			left: -8px;
		}
	}
}

.accordion-widget {
	.accordion {
		//margin-bottom: 1rem;
	}
	
	.accordion-header {
		background-color: #fff;
		transition: $transition-base;
		padding: .5rem 0;
		
		&.active-item {
			color: $primary;
			transition: $transition-base;
			
			button {
				@extend .text-primary;
				transition: $transition-base;
			}
		}
	}
	
	.accordion-header button:before {
		font-family: 'hm-icons';
		content: "\f106";
		float: left;
		margin-right: .5rem;
	}
	
	.accordion-header button.collapsed:before {
		content: "\f105";
	}
	
	.accordion-header button {
		font-weight: bold;
		@extend .text-body;
		transition: $transition-base;
		
		@include hover-focus-active() {
			outline: none;
			text-decoration: none;
		}
	}
	
	.accordion-body {
		padding-bottom: .5rem;
	}
}
