.widget-section {
    .section-inner {
        position: relative;
        z-index: 2000;
    }

    .widget-line {
        border: $border-width solid $border-color;
        padding: 1.5rem;
    }
}

.widgets .widget-col {
    &:last-of-type {
        margin-bottom: 0;
    }

    &.streched {
        > .widget {
            height: 100%;
        }

        .card-widget, .card-widget > .card {
            height: 100%;
        }

        .card-widget > .card {
            display: flex;
            flex-direction: column;
        }
    }
}

.widget-slider-wrap {
    position: relative;

    .widget-slider {
        position: relative;
        width: 100%;
    }

    .slick-slide {
        opacity: 0.2;
        transition: $base-transition;

        &.slick-active {
            opacity: 1;
            transition: $base-transition;
        }
    }

    .slick-list {
        margin-bottom: 30px;
    }

    .widget-slide-item {
        display: flex !important;
        padding: 0 1.25rem;
    }
}

.card-widget {
    .card {
        box-shadow: $box-shadow;
    }

    .has-link {
        transition: $transition-base;

        &:hover {
            transition: $transition-base;
            box-shadow: $box-shadow-lg;
        }
    }
    .textbox :last-child{
        margin-top: 0!important;
    }
}

.image-widget {
    .wrap {
        position: relative;
    }
    figure {
        width: 100%;
        margin-bottom: 0;
    }
}
