
.animate-spin {
	animation: spin 2s infinite linear;
	display: inline-block;
}

.animate-wiggle, .animate-shake {
	animation: wiggle 2s infinite linear;
	display: inline-block;
}

.animate-spin-hover {
	@include hover-focus() {
		animation: spin 2s infinite linear;
		display: inline-block;
	}
}

.animate-wiggle-hover,
.animate-shake-hover {
	@include hover-focus() {
		animation: wiggle 2s infinite linear;
		display: inline-block;
	}
}

@keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	
	100% {
		-moz-transform: rotate(359deg);
		-o-transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes wiggle {
	0% { transform: translate(1px, 0); }
	10% { transform: translate(-1px, 0); }
	20% { transform: translate(1px, 0); }
	30% { transform: translate(-1px, 0); }
	40% { transform: translate(1px, 0); }
	50% { transform: translate(-1px, 0); }
	60% { transform: translate(1px, 0); }
	70% { transform: translate(-1px, 0); }
	80% { transform: translate(1px, 0); }
	90% { transform: translate(-1px, 0); }
	100% { transform: translate(0, 0); }
}


@keyframes shake {
	10%, 90% {
		transform: translate3d(-.5px, 0, 0) rotate(-.5deg);
	}
	
	20%, 80% {
		transform: translate3d(1px, 0, 0) rotate(1deg);
	}
	
	30%, 50%, 70% {
		transform: translate3d(-2px, 0, 0) rotate(-2deg);
	}
	
	40%, 60% {
		transform: translate3d(2px, 0, 0) rotate(2deg);
	}
}


@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}


@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(.1, .1); opacity: .0;
	}
	
	50% {
		opacity: .5;
	}
	
	100% {
		-webkit-transform: scale(1.2, 1.2); opacity: .0;
	}
}
