$theme-colors: map-remove($theme-colors, "info");

@mixin overlay-variant($parent, $color, $amount) {
	#{$parent}:after {
		background: transparentize($color, $amount);
	}
}

@mixin bgtrans-variant($parent, $color, $amount) {
	#{$parent}-transparent {
		transition: $base-transition;
		background: transparentize($color, $amount);
		
		&:hover {
			transition: $base-transition;
			background: transparentize($color, ($amount + .2));
		}
	}
}

@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
	padding: $padding-y $padding-x;
	@include font-size($font-size);
	line-height: $line-height;
	// Manually declare to provide an override to the browser default
	@include border-radius($border-radius, 0);
}
