@font-face {
	font-family: 'hm-icons';
	src: url($base-font-path + 'icons/hm-icons.eot?2834426');
	src: url($base-font-path + 'icons/hm-icons.eot?2834426#iefix') format('embedded-opentype'),
	url($base-font-path + 'icons/hm-icons.woff2?2834426') format('woff2'),
	url($base-font-path + 'icons/hm-icons.woff?2834426') format('woff'),
	url($base-font-path + 'icons/hm-icons.ttf?2834426') format('truetype'),
	url($base-font-path + 'icons/hm-icons.svg?2834426#hm-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'hm-icons';
    src: url($base-font-path + 'icons/hm-icons.svg?2834426#hm-icons') format('svg');
  }
}
*/

[class^="hm-icon-"]:before, [class*=" hm-icon-"]:before {
	font-family: "hm-icons";
	font-style: normal;
	font-weight: normal;
	speak: never;
	
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.hm-icon-link:before { content: '\e804'; } /* '' */
.hm-icon-info-circled:before { content: '\e805'; } /* '' */
.hm-icon-heart-empty:before { content: '\e806'; } /* '' */
.hm-icon-star:before { content: '\e807'; } /* '' */
.hm-icon-star-empty:before { content: '\e808'; } /* '' */
.hm-icon-search:before { content: '\e809'; } /* '' */
.hm-icon-location:before { content: '\e80a'; } /* '' */
.hm-icon-download:before { content: '\e80b'; } /* '' */
.hm-icon-upload:before { content: '\e80c'; } /* '' */
.hm-icon-phone:before { content: '\e80d'; } /* '' */
.hm-icon-calendar:before { content: '\e80e'; } /* '' */
.hm-icon-link-ext:before { content: '\f08e'; } /* '' */
.hm-icon-phone-squared:before { content: '\f098'; } /* '' */
.hm-icon-twitter:before { content: '\f099'; } /* '' */
.hm-icon-comment-empty:before { content: '\f0e5'; } /* '' */
.hm-icon-chat-empty:before { content: '\f0e6'; } /* '' */
.hm-icon-lightbulb:before { content: '\f0eb'; } /* '' */
.hm-icon-angle-double-left:before { content: '\f100'; } /* '' */
.hm-icon-angle-double-right:before { content: '\f101'; } /* '' */
.hm-icon-angle-double-up:before { content: '\f102'; } /* '' */
.hm-icon-angle-double-down:before { content: '\f103'; } /* '' */
.hm-icon-angle-left:before { content: '\f104'; } /* '' */
.hm-icon-angle-right:before { content: '\f105'; } /* '' */
.hm-icon-angle-up:before { content: '\f106'; } /* '' */
.hm-icon-angle-down:before { content: '\f107'; } /* '' */
.hm-icon-circle-empty:before { content: '\f10c'; } /* '' */
.hm-icon-quote-left:before { content: '\f10d'; } /* '' */
.hm-icon-quote-right:before { content: '\f10e'; } /* '' */
.hm-icon-circle:before { content: '\f111'; } /* '' */
.hm-icon-direction:before { content: '\f124'; } /* '' */
.hm-icon-unlink:before { content: '\f127'; } /* '' */
.hm-icon-info:before { content: '\f129'; } /* '' */
.hm-icon-calendar-empty:before { content: '\f133'; } /* '' */
.hm-icon-xing:before { content: '\f168'; } /* '' */
.hm-icon-xing-squared:before { content: '\f169'; } /* '' */
.hm-icon-youtube-play:before { content: '\f16a'; } /* '' */
.hm-icon-instagram:before { content: '\f16d'; } /* '' */
.hm-icon-down:before { content: '\f175'; } /* '' */
.hm-icon-up:before { content: '\f176'; } /* '' */
.hm-icon-left:before { content: '\f177'; } /* '' */
.hm-icon-right:before { content: '\f178'; } /* '' */
.hm-icon-fax:before { content: '\f1ac'; } /* '' */
.hm-icon-copyright:before { content: '\f1f9'; } /* '' */
.hm-icon-at:before { content: '\f1fa'; } /* '' */
.hm-icon-whatsapp:before { content: '\f232'; } /* '' */
.hm-icon-map-o:before { content: '\f278'; } /* '' */
.hm-icon-commenting-o:before { content: '\f27b'; } /* '' */
.hm-icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.hm-icon-envelope-open:before { content: '\f2b6'; } /* '' */
.hm-icon-envelope-open-o:before { content: '\f2b7'; } /* '' */
.hm-icon-facebook-squared:before { content: '\f308'; } /* '' */
.hm-icon-linkedin-squared:before { content: '\f30c'; } /* '' */
