.loading, .loading:before {
	position: fixed;
	top: 0;
	left: 0;
}

.loading {
	z-index: 999999;
	height: 64px;
	width: 64px;
	overflow: show;
	margin: auto;
	bottom: 0;
	right: 0;
}

.loading:before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: #fff;
}

.logo-icon {
	position: relative;
	width: 64px;
	height: 64px;
	background-color: $primary;
}
