.overlay {
    position: relative;
    
    &:after {
        content: '';
        position: absolute;
        z-index: $zindex-overlay;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    
    &.overlay-gradient:after {
        background: linear-gradient(to top, rgba($dark, .75), rgba($primary, 0.05))
    }
}

@each $color, $value in $theme-colors {
    @include overlay-variant(".overlay-#{$color}", $value, $overlay_level);
    @include overlay-variant(".overlay-bg-#{$color}", $value, $overlay_level);
    @include bgtrans-variant(".bg-#{$color}", $value, $overlay_level);
}

@include overlay-variant(".overlay-black", #000, $overlay_level);
