// General classes and styles shared a cross the whole page.
//
* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	//-webkit-tap-highlight-color: rgba(0,0,0,0);
	//-webkit-user-select: none;
	//-webkit-touch-callout: none;
	//-webkit-tap-highlight-color: transparent;
}

::selection {
	background: $primary;
	color: #fff;
}

#wrapper {
	&.image-area-none {
		padding-top: 55px;
		
		@include media-breakpoint-up(md) {
			padding-top: 135px;
		}
	}
}

body {
	-webkit-overflow-scrolling: touch;
	overflow-y: auto;
	position: relative;
}

/** Text **/
a {
	transition: $base-transition;
	
	@include hover-focus {
		transition: $base-transition;
		text-decoration: none;
	}
}

a:focus {
	outline: 0;
}

a.no-style, a.img-link {
	color: inherit !important;
	text-decoration: none !important;
	border: none !important;
	
	@include hover-focus {
		color: inherit !important;
		text-decoration: none !important;
	}
	
	&:after {
		content: none;
	}
	
}

.overlay {
	position: relative;
	
	&:after {
		content: '';
		position: absolute;
		z-index: $zindex-overlay;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

.img-full {
	width: 100%;
	height: auto;
}

.background-full,
.bg-full {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: initial;
}

.top { top: 0; }
.bottom { bottom: 0; }
.left { left: 0; }
.right { right: 0; }


.lh-1 {
	line-height: 1;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// text-transform: uppercase;

	.text-white &, .text-light & {
		color: inherit;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
	}
}

//body #wrapper .bg-primary,
//body #wrapper .bg-gradient,
//body #wrapper .bg-dark {
//	> * {
//		color: #fff;
//	}
//}

.textbox :last-child,
.textwidget :last-child,
.wysiwyg :last-child {
	&:not(.form-group) {
		margin-bottom: 0;
	}
}

.hyphenate {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.lead {
	color: $lead-color;
	
	.text-white &, .text-light & {
		color: inherit;
	}
}

.textbox img {
	@extend .img-fluid;
}

ul.styled,
.textbox ul,
ol.styled {
	padding: 0;
	list-style: none;
	margin-left: 20px;
	
	li {
		position: relative;
		
		&:after {
			content: '\f105';
			font-family: 'hm-icons';
			font-size: .75rem;
			position: absolute;
			left: -20px;
			top: 3px;
			display: block;
			height: 1rem;
			width: 1rem;
			color: $primary;
		}
	}
}

.admin-bar {
	.modal {
		margin-top: 32px;
		
		@media screen and (max-width: 782px) {
			margin-top: 46px;
		}
	}
}

.badge-pill {
	border-radius: $badge-border-radius;
}

.wpcf7-list-item {
	margin: 0;
}

input[name="user_message"] {
	height: 150px;
}

.img-full-height {
	height: 100%;
	width: auto;
	max-width: 100%;
}

.form-group label {
	font-size: 90%;
	font-weight: 600;
}

.page-link.current {
	@extend .bg-gradient-red;
}
