// Variables
//
// Don't update any bootstrap files. Add your overwriting and themplate variables here.
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-overlay:                    1030;
$zindex-image-item:                 1040;
$zindex-popover:                    99999;
$zindex-tooltip:                    1070;
$zindex-widget:						1890;
$zindex-widget-overlay:				1891;
$zindex-modal-backdrop:             1940;
$zindex-modal:                      1950;
$zindex-mobilenav:					2009;
$zindex-navbar:						2010;

// =================
// Template
// =================
$global_img_path: '../img/';

// Transitions
//
$base-transition: color .3s .175s cubic-bezier(.25, .8, .25, 1), background .3s .175s cubic-bezier(.25, .8, .25, 1), box-shadow .3s .175s cubic-bezier(.25, .8, .25, 1), opacity .3s .175s cubic-bezier(.25, .8, .25, 1);
$transfrom-transition: transform .5s cubic-bezier(.25, .8, .25, 1), opacity .5s cubic-bezier(.25, .8, .25, 1);

// Fonts
//
$base-font-path: "../fonts/";
$generic-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$pattern:		"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.36' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E";

// Bootstrap Overwrite
//
$primary: #000;
$secondary: #111;
$dark: #000;
$light: #f6f6f6;
$body-color: #fff;
$lead-color: #111;
$border-color: #f6f6f6;

$success:   #28a745;
$black:		#000;
$white:		#fff;

$theme-colors: ();
$theme-colors: map-merge(
		(
			"primary":    $primary,
			"secondary":  $secondary,
			"success":    $success,
			//"info":       $info,
			//"warning":    $warning,
			//"danger":     $danger,
			"light":      $light,
			"bc":	 	  $border-color,
			"dark":       $dark,
			"white":      $white,
			"black":      $black,
		),
		$theme-colors
);

// Typography
//
$font-size-base: 			1rem;
$font-family-sans-serif: 	'Open Sans', $generic-fonts;
$font-family-base: 			$font-family-sans-serif;
$headings-color: 			$dark;

// Options
//
$enable-rounded: 				false;
$enable-responsive-font-sizes: 	true;
$enable-caret: 					false;
$enable-shadows: 				true;

// Spacing
//
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
		(
			0: 0,
			1: ($spacer * .5),
			2: ($spacer * 1),
			3: ($spacer * 1.5),
			4: ($spacer * 3),
			5: ($spacer * 4.5),
			6: ($spacer * 5.8),
			7: ($spacer * 7),
		), $spacers
);

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1240px
);

$rounded-pill: 0;

// Custom Variables
//
$footer-widget-margin-bottom: map_get($spacers, 1);
$overlay_level: 0.5;

// Slick Slider
//
$slick-font-path: "../fonts/slick/";
$slick-font-family: 'hm-icons';
$slick-loader-path: $global_img_path;
$slick-arrow-color: $secondary;
$slick-dot-color: $light;
$slick-dot-color-active: lighten($primary, 10%);
$slick-prev-character: "\e801";
$slick-next-character: "\e802";
$slick-dot-character: "\e80f";
$slick-dot-size: 15px;
$slick-opacity-default: 1;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: 1;


// Font Awesome
//
$fa-font-path: "../fonts/font-awesome/";

// Buttons
//
//$input-btn-border-width:		1;
//$input-btn-padding-y:         	.475rem;
//$input-btn-padding-x:         	.5rem;
$btn-font-weight: 				600;
$btn-border-width:            	0;


// Navbar
//
$navbar-light-color: 				$body-color;
$navbar-light-hover-color: 			$primary;
$navbar-light-active-color: 		$primary;
$navbar-light-toggler-border-color: transparent;
$navbar-padding-y:                  0;
$nav-link-padding-y:                1rem;
$navbar-nav-link-padding-x:         .75rem;
$navbar-brand-padding-y:            .5rem;
$navbar-toggler-padding-y:          $nav-link-padding-y;
$navbar-toggler-padding-x:          .75rem;

// Dropdowns
//
$dropdown-bg:                      	#fff;
$dropdown-border-width:           	0;
$dropdown-spacer:                   0;
$dropdown-box-shadow:              	none;
$dropdown-padding-y:                0;
$dropdown-item-padding-y:           .5rem;
$dropdown-item-padding-x:           $navbar-nav-link-padding-x;
$dropdown-link-hover-bg:            #fff;
$dropdown-link-hover-color:         $primary;
$dropdown-link-active-color:        $primary;

// Components
//
$border-width: 					1px;
$box-shadow-sm:               	0 .125rem .25rem rgba($black, .075);
$box-shadow:                  	0 .5rem 1rem rgba($black, .15);
$box-shadow-lg:               	0 1rem 3rem rgba($black, .175);


// Popovers
$popover-box-shadow: 			$box-shadow-sm;
$popover-header-bg: 			#fff;
$popover-border-width:			0;
$popover-border-color:  		$border-color;
$popover-header-padding-y:      1rem;
$popover-header-padding-x:      1rem;

// Forms
$input-btn-padding-y:       .375rem;
$input-btn-padding-x:      	.75rem;
$label-margin-bottom: 		.25rem;
$input-padding-y:       	.375rem;
$input-padding-x:       	.75rem;
$input-font-size: 			$font-size-base;
$input-bg: 					$white;
$input-color:				$body-color;
$input-border-color:		$border-color;
$input-border-width:		1px;
$input-box-shadow:			none;
$input-group-addon-bg:		inherit;

$pagination-active-color:           $white;
$pagination-active-bg:              $primary;

