#colophon {
	.hex-wrap {
		position: relative;
	}
	
	.footer-menu {
		@include media-breakpoint-up(md) {
			margin-right: -.5rem;
		}
		
		.nav-link {
			padding: .05rem calc(.5rem + 1px) .05rem .5rem;
			@extend .text-body;
		}
		
		.nav-item {
			position: relative;
			
			&:after {
				content: '/';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 80%;
				right: -1px;
				padding-left: 0.25rem;
			}
			
			&:last-of-type:after {
				content: '';
				padding: 0;
			}
		}
	}
	
	.footer-widget {
		margin-bottom: $footer-widget-margin-bottom;
		
		.title {
			margin-bottom: 1.25rem;
			font-weight: 600;
			@include responsive-font-size($h5-font-size)
		}
		
		&.widget_nav_menu {
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				
				a {
					color: $white;
				}
			}
		}
		
		&.widget_text {
			padding: 1rem;
			border: 1px solid $white;
		}
	}
	
	.footer-bottom {
		#footer-logo {
			width: 75px;
			height: auto;
		}
	}
}

.to-top {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 9999999;
	
	padding: .5rem;
	background: #fff;
	border-radius: 50%;
	
	height: 30px;
	width: 30px;
	
	line-height: 1;
	box-shadow: $box-shadow-sm;
	
	display: none;
}
