header#masthead {
	border-bottom: 1px solid $border-color;
	position: relative;
	transition: $transfrom-transition;
	z-index: 2090;
	
	&.header-top {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		
		.admin-bar & {
			@include media-breakpoint-up(md) {
				top: 32px !important;
			}
		}
	}
	
	.navbar-brand {
		display: block;
		margin: 0;
	}
	
	.navbar {
		z-index: $zindex-navbar;
		
		.nav-item {
			&.wpml-ls-menu-item {
				position: relative;
				margin-left: $nav-link-padding-x / 2;
				
				&:before {
					content: '|';
					left: -5px;
					top: 50%;
					transform: translateY(-57%);
					position: absolute;
				}
				
				.nav-link {
					font-weight: 500;
				}
			}
			
			&.active .nav-link {
				font-weight: 600;
			}
		}
		
		.nav-link {
			font-size: 16px;
			font-weight: 500;
		}
		
		.dropdown-menu {
			transition: $base-transition;
		}
		
		.dropdown:hover > .dropdown-menu {
			display: block;
		}
		
		.dropdown-menu {
			border-right: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			border-left: 1px solid $border-color;
			
			.nav-item {
				padding: 0;
			}
			
			:not(:last-of-type) {
				border-bottom: $border-width solid $border-color;
			}
		}
	}
	
	.lang-item {
		margin-top: 4px;
	}
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #000;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
	border: none;
	background: transparent !important;
	
	@include hover-focus-active() {
		outline: none;
	}
}

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
	width: 15px;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

// Scroll Helper Classes
.down .header-top {
	transform: translateY(-300%);
}

.up .header-top,
.header-top.show,
.open-menu .header-top {
	transform: none;
}

.header-top.hide {
	transform: translateY(-300%);
}

#search-bar {
	#header-search-form-icon {
		border: 1px solid $border-color;
	}
}
