.darkenarea {
	position: fixed;
	top: 0;
	z-index: 9998;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.60);
	display: none;
	
	.openmenu & {
		display: block;
	}
}

#mobile-navigation {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 100%;
	height: 100%;
	width: 300px;
	background-color: $white;
	text-align: left;
	
	overflow-x: visible;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	
	-webkit-transition: -webkit-transform 0.5s;
	-ms-transition: transform 0.5s;
	transition: transform 0.5s;
	
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	
	ul {
		margin: 0;
		padding: 0;
	}
	
	.sub-menu {
		margin-top: 1px;
	}
	
	header {
		border-bottom: 1px solid $border-color;
	}
	
	#mobile-nav-logo {
		height: 30px;
		width: auto;
	}
}

body.openmenu #mobile-navigation {
	-webkit-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
}

#mobile-navigation ul.menu,
#mobile-navigation ul.sub-menu{
	list-style: none;
	margin-left: 0;
}

#mobile-navigation .menu-item {
	position: relative;
	display: block;
	max-height: 40px;
	overflow: hidden;
	-webkit-transition: max-height 0.6s ease;
	transition: max-height 0.6s ease;
	border-bottom: 1px solid $border-color;
}

#mobile-navigation .sub-menu .menu-item {
	max-height: 70px;
}

#mobile-navigation .menu-item.open,
#mobile-navigation .sub-menu .menu-item.open {
	height: auto;
}

#mobile-navigation .menu > .menu-item > a,
#mobile-navigation .sub-menu > .menu-item > a  {
	display: block;
	background-color: $white;
	padding: 7px 0 7px 20px;
	color: $navbar-light-color;
	font-size: 120%;
	-webkit-transition: background-color 0.1s, color 0.1s;
	transition: background-color 0.1s, color 0.1s;
}

#mobile-navigation .sub-menu > .menu-item > a  {
	background-color: darken($white, 15%);
	color: $navbar-light-color;
	padding: 7px 0 7px 35px
}

#mobile-navigation .sub-menu .sub-menu > .menu-item > a  {
	background-color: darken($white, 15%);
	padding-left: 30px;
}

#mobile-navigation .menu > .menu-item-has-children > i:after,
#mobile-navigation .sub-menu > .menu-item-has-children > i:after  {
	position: absolute;
	display: block;
	font-family: 'hm-icons';
	content: '\f106';
	background-color: $white;
	top: 0;
	right: 0;
	width: 40px;
	height: 39px;
	color: $navbar-light-color;
	text-align: center;
	line-height: 39px;
	font-style: normal;
	font-size: 150%;
}

#mobile-navigation .sub-menu > .menu-item-has-children > i:after  {
	content: '\f105';
	background-color: #3d3d3d;
	height: 32px;
	font-size: 25px;
	line-height: 1.6;
}

#mobile-navigation .menu > .menu-item-has-children.open > i:after  {
	content: '\f106';
	color: $navbar-light-color;
}

#mobile-navigation .sub-menu > .menu-item-has-children.open > i:after  {
	content: '\f105';
	color: $navbar-light-color;
}

#mobile-navigation .menu > .menu-item-has-children > i:hover:after,
#mobile-navigation .sub-menu > .menu-item-has-children > i:hover:after  {
	cursor: pointer;
	color: $navbar-light-color;
}

#mobile-navigation .menu > .menu-item > a:hover,
#mobile-navigation .sub-menu > .menu-item > a:hover,
#mobile-navigation .sub-menu .sub-menu > .menu-item > a:hover  {
	color: $navbar-light-color;
}
